<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Stylesheets -->
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {% if template == 'index' %}
      {{ 'index.css' | asset_url | stylesheet_tag }}
    {% endif %}

    <!-- Scripts: Load jQuery early (defer-safe), other scripts async if independent -->
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>

    {{ content_for_header }}
    <!-- Header hook for apps/plugins -->
  </head>
  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>